
/*The modal window needs to use absolute positioning to display correctly (fits the entire screen)*/ 
body {
  position: absolute;
  font-family: 'Khand', sans-serif;
  background-color: #f5f1f1;
}

    h1 {
      color: #565656;   
      padding-left: 5%;
     }

     .grid-container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: center;
  }


  p {
    color: rgb(59 59 59 / 56%);
  }

  .card {
    margin: 15px;
    width: 380px;
    display: flex;
    background-color: #f7f7f7;
    border: 1px solid #9d9a9a;
    border-radius: 4px;
    justify-content: center;
}

 
    /* targeting the overlay will create the semi transparent background of the modal that covers the whole window.
  Setting left, right, top, and bottom properties all to 0, this will force the
  overlay to expand across the whole document.

  No width or height properties are set for the overlay, the size
is controlled by the properties above.*/
    .overlay {
        position: absolute; /*removes the element from the normal document flow.*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(100, 100, 100, 0.4)
        }


      
      .avatar {
        width: 100%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 1rem;
        margin-top: 10px;
      }
 
        .modal {
            width: 375px;
            margin: 15% auto auto;
            position: relative;
            text-align: center;
            background: #fff;
            border: 1px solid #778;
            border-radius: 5px;
            padding: 30px 20px;
            }

          
            .modal-close {
              position: absolute; /* absolute positioning is used for the close button in
              order to put it in the top right of the modal. */
              right: 5px;
              top: 5px;
              cursor: pointer;
              }
              
             .hidden {
               display: none;
                }